html
    head
        link(rel="stylesheet", href="style.css")
        title From Express js
        
    body
        h1(class="hh") Hello world  
        h2(class="hh") #{name}
        h3(class="hh") #{age}