extends base.pug
block title
    title input page
block content
    div
        div
            div
                form(action="/new", method="post")
                    div
                        span Roll NO:
                        input(type="text", name="rollno" size="20")
                        span Name:
                        input(type="text", name="name" size="20")
                        input(type="submit", value="submit")

    